.ErrorCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 0px;
    padding-bottom: 300px;
}

.ErrorNumber {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    color: #FF6060;
}

.ErrorText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
    margin-bottom: 150px;
    text-align: center;
}

.ErrorRedirect {  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;  
    color: #FF6060;
}

#root {
    min-height: 100vh;
    position: relative;
}

@media (max-width:480px) {
    .ErrorNumber {
        font-size: 96px;
    }
    .ErrorText {
        font-size: 18px;
    }
    .ErrorRedirect {
        font-size: 14px;
    }
}