.LocationPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.LocationMiddle {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}

.LocationInfo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    display: flex;
    flex-direction: column;
    
}
.LocationTitle {
    font-size: 36px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
}

.LocationOwner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}

.OwnerName {
    width: 80px;
    text-align: right;
}

.OwnerPicture {
    border-radius: 50%;
    height: 64px;
    margin: 0px 30px 0px 10px;
}
.rating {
    height: 30px;
    width: 30px;
    margin-left: 8px;
}

.LocationTags {
    display: flex;
    flex-flow: row wrap;
}

.Tags {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 142.6%;
    color: white;
    background-color: #FF6060;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.LocationRating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Part {
    width: 45%;
    margin: 20px 0px 0px;
}

.LocationBot {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Equipments {
    display: flex;
}

.LocationCollapses {
    width: 42.5%;
}

@media (max-width: 480px) {
    .LocationMiddle {
        flex-direction: row;
    }
    .Part {
        width: 100%;
    }
    .LocationInfo {
        font-size: 16px;
    }
    .LocationTItle {
        font-size: 20px;
    }
    .LocationTags {
        order: 0;
    }
    .LocationRating {
        order: 1;
        width: 40%;
        justify-content: flex-start;
    }
    .LocationOwner {
        order: 2;
        width: 40%;
    }
    .LocationBot {
        flex-direction: column;
        align-items: center;
    }
    .LocationCollapses {
        width: 90%;
    }
    .rating {
        width: 20px;
        height: 20px;
    }
}